<section data-ng-controller="ChecksController">

	<div class="server-filter-container">
		<form class="server-filter" ng-submit="saveFilterUrl()">
			<input class="server-filter__input" type="text" ng-model="checksFilter" placeholder="Filter op checks">
			<input class="server-filter__submit" type="submit" value="Filter">
		</form>
		<div class="server-filter__inner">
			<div ng-if="filteredChecksList.length" class="server-filter__inner-count">{{ filteredChecksList.length }} van de {{ checks.length }} pingdom checks getoond</div>
			<div ng-if="!filteredChecksList.length" class="server-filter__inner-count">Geen resultaten gevonden</div>
			<div class="server-filter__inner-time">Geupdate op {{time | date: 'HH:mm' }}</div>
		</div>
	</div>

	<div class="server-status"
		ng-class="{'server-status--down': check.status === 'down', 'server-status--unknown': check.status === 'unconfirmed_down'}"
		ng-repeat="check in filteredChecksList = (checks | orderBy:['status','name']:false | filter:checksFilter)">
		<ul>
			<li>
				<div class="server-status__title">Naam</div>
				<div class="server-status__value" ng-bind="check.name"></div>
			</li>
			<li>
				<div class="server-status__title">Host</div>
				<div class="server-status__value"><a ng-href="http://{{check.hostname}}" ng-bind="check.hostname" target="_blank"></a></div>
			</li>
			<li>
				<div class="server-status__title">Status</div>
				<div class="server-status__value" ng-bind="check.status"></div>
			</li>
			<li ng-if="check.lasttesttime">
				<div class="server-status__title">Gecheckt op</div>
				<div class="server-status__value" ng-bind="check.lasttesttime * 1000 | date: 'dd-MM-yyyy HH:mm'"></div>
			</li>
			<li ng-if="check.lasterrortime">
				<div class="server-status__title">Laatste error</div>
				<div class="server-status__value" ng-bind="check.lasterrortime * 1000 | date: 'dd-MM-yyyy HH:mm'"></div>
			</li>
		</ul>
	</div>
</section>