<section data-ng-controller="ChecksController">

	<div class="server-filter-container">
		<form class="server-filter" ng-submit="saveFilterUrl()">
			<input class="server-filter__input" type="text" ng-model="checksFilter" placeholder="Filter op checks">
			<input class="server-filter__submit" type="submit" value="Filter">
		</form>
		<div class="server-filter__inner">
			<div ng-if="filteredChecksList.length" class="server-filter__inner-count">{{ filteredChecksList.length }} van de {{ checks.length }} pingdom checks getoond</div>
			<div ng-if="!filteredChecksList.length" class="server-filter__inner-count">Geen resultaten gevonden</div>
			<div class="server-filter__inner-time">Geupdate op {{time | date: 'HH:mm' }}</div>
		</div>
	</div>

	<ul>
		<li class="server-status"
			ng-class="{'server-status--down': check.status === 'down', 'server-status--unknown': check.status === 'unconfirmed_down'}"
			ng-repeat="check in filteredChecksList = (checks | orderBy:['status','name']:false | filter:checksFilter)">
			<div ng-bind="check.name"></div>
			<div ng-bind="check.status"></div>
			<i class="fa fa-warning"></i>
		</li>
	<ul>
</section>