body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

ul {
	padding: 0;
	padding-bottom: 20px;
}

.server-status {
	list-style-type: none;
	background-color: #F1F1F1;
	color: #4A4A4A;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #ddd;
}

.server-status--down {
	background-color: #f2dede;
	color: #a94442;
	border-color: #ebccd1;
}

.server-filter {
	background-color: #009dd9;
	color: #fff;
	padding: 20px;
	margin-bottom: 40px;
	border-radius: 5px;
	border: 1px solid #007BAB;
	box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.25);
}

.server-filter__input {
	border: 1px solid #007BAB;
	border-radius: 5px;
	color: #4A4A4A;
	font-size: 22px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 20px;
	width: 100%;
}

.server-filter__inner-time {
	width: 50%;
	float: left;
}

.server-filter__inner-count {
	display: inline-block;
	width: 50%;
}