body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

ul {
	padding: 0;
	padding-bottom: 20px;
}

.server-status {
	list-style-type: none;
	background-color: #F1F1F1;
	color: #4A4A4A;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #ddd;
}

.server-status--down {
	background-color: #f2dede;
	color: #a94442;
	border-color: #ebccd1;
}

.server-status--unknown {
	background-color: #FFCE4D;
	color: #a94442;
	border-color: #ebccd1;
}

.server-filter-container {
	background-color: #009dd9;
	color: #fff;
	padding: 20px;
	margin-bottom: 40px;
	border-radius: 5px;
	border: 1px solid #007FB1;
	box-shadow: 0px 10px 10px 0px rgba(50, 50, 50, 0.25);
}

.server-filter {
	position: relative;
	margin-bottom: 20px;
}

.server-filter__input {
	border: 1px solid #007FB1;
	border-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 0;
	color: #4A4A4A;
	font-size: 22px;
	outline: none;
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-top: 10px;
	width: calc(100% - 75px);
}

.server-filter__input:focus {
	box-shadow: 0px 10px 10px 0px rgba(50, 50, 50, 0.25);
}

.server-filter__submit {
	background: #ccc;
	border: 1px solid #007FB1;
	border-radius: 5px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	position: absolute;
	top: 0;
	right:0;
	height: 100%;
	width: 75px;
	outline: none;
}

.server-filter__inner-time {
	width: 50%;
	float: left;
}

.server-filter__inner-count {
	display: inline-block;
	width: 50%;
	text-align: right;
}